<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="succes-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `succes-card`
     * Tarjeta succes
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class SuccesCard extends Polymer.Element {
      static get is() { return 'succes-card'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'succes-card'
          }
        };
      }
    }

    window.customElements.define(SuccesCard.is, SuccesCard);
  </script>
</dom-module>
